body {
    font-family: 'Gill Sans MT', sans-serif;
    line-height: 1.5em;
}

h1, h2 {
    font-family: Helvetica, sans-serif;
}

div {
    padding: 1em 2em 0 2em;
    background: rgb(228, 225, 225);
}

hr {
margin-top: 2em;
}