body {
    font-family: 'Gill Sans MT', sans-serif;
    color: black;
    padding: 1em 2em;
    line-height: 1.7em;
}

h1, h2 {
    font-family: Helvetica, sans-serif;
    color: gray;
}


.c_card {
    background-color: white;

}
